@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;800;900&family=Roboto:wght@400;500;700;900&display=swap');
*{
    font-family: 'Roboto', 'sans-serif';
}

::-webkit-scrollbar{
    width: 2.5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: rgb(210, 210, 210);
}

::-webkit-scrollbar-thumb{
    background-color: darkgray;
}
